<div class="container-fluid">
  <button id="addMemberButton" class="btn btn-primary pull-right" (click)="goToAddMemberForm()">Add Member</button>
  <table class="table">
    <thead>
      <tr>
        <th>Member ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Job Title</th>
        <th>Racing Team</th>
        <th>Status</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let member of members; let i = index'>
        <td>{{i + 1}}</td>
        <td>{{member?.firstName}}</td>
        <td>{{member?.lastName}}</td>
        <td>{{member?.jobTitle}}</td>
        <td>{{member?.team}}</td>
        <td>{{member?.status}}</td>
        <td>
          <button
            button
            type="button"
            class="close"
            aria-label="Edit"
            (click)="editMemberByID(member, member.id)">
            <i class="fa fa-pencil-square-o" >
            </i>
          </button>
        </td>
        <td>
          <button
              button type="button"
              class="close delete"
              aria-label="Close"
              (click)="deleteMemberById(member.id)">
              <i class="fa fa-times" >
              </i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="editMember" class="edit_member container-fluid col-md-6">
      <h3 class="text-center lead">Edit Member</h3>
      <br />
      <!--Template Driven Form or Model Driven Form?-->
      <form  [formGroup]="memberForm" (ngSubmit)="onSubmit(memberToEdit.id)">
        <div>
          <div class="row">
            <div class="col-md-6">
              <input
                type="text"
                class="form-control"
                id="firstName"
                placeholder="First Name"
                formControlName="firstName"
                [(ngModel)]="memberToEdit.firstName"
                name
                required
                pattern=".{3,}"
              />
            </div>
            <div class="col-md-6">
              <input
                type="text"
                class="form-control"
                id="lastName"
                placeholder="Last Name"
                formControlName="lastName"
                [(ngModel)]="memberToEdit.lastName"
                required
                pattern=".{3,}"
              />
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-md-6">
              <input
                type="text"
                class="form-control"
                id="jobTitle"
                placeholder="Job Title"
                formControlName="jobTitle"
                [(ngModel)]="memberToEdit.jobTitle"
                required
                pattern=".{3,}"
              />
            </div>
            <!--We may have to make a service call to get this list-->
            <select
              [(ngModel)]="memberToEdit.team"
              formControlName="team"
              id="team"
              class="col-md-6 custom-select"
              required
              >
              <!-- <option [ngValue]="null">{{memberToEdit.team}}</option> -->
              <option
                *ngFor="let team of teams"
                [ngValue]="team.teamName">
                {{ team.teamName }}
              </option>
            </select>
          </div>
          <br />
          <div class="form-group col-md-6">
            <div class="row">
              <label id="activeStatus" class="md-check lead">
                <input
                  [(ngModel)]="memberToEdit.status"
                  type="radio"
                  value="Active"
                  name="status"
                  formControlName="status"
                  required /> Active
              </label>
              <label class="md-check lead">
                <input
                  [(ngModel)]="memberToEdit.status"
                  type="radio"
                  value="Inactive"
                  name="status" 
                  required
                  formControlName="status"/> Inactive
              </label>
            </div>
          </div>
        </div>
        <!-- Cancel button rederecting back to members -->
        <button (click)="backToMembers()" class="btn btn-secondary pull-right">
          Cancel
        </button>
        <!--Disable if form is invalid-->
        <button [disabled]="memberForm.status === 'INVALID'" type="submit" class="btn btn-primary">
          Edit Member
        </button>
      </form>
    </div>
    
</div>
